<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<properties>

<property name="basePath">./logs</property>

</properties>
<Appenders>
   
   <RollingFile name="fILE" fileName="${basePath}/prints.log"
   filePattern="${basePath}/prints.%d{yyyy-mm-dd}.Log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
   <sizeBasedTriggerPolicy size="10000"/>
   </RollingFile>>
   
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.foo.Bar" level="trace">
      <AppenderRef ref="file"/>
    </Logger>
    <Root level="All">
      <AppenderRef ref="file"/>
    </Root>
  </Loggers>
</Configuration>